body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: arial;
}

body{

    background: linear-gradient(to right,rgb(83, 162, 184),rgb(78, 134, 184),rgb(7, 81, 86));
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.clock{

    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: rgb(151, 215, 222);
    border: 10px solid black;
    position: relative;
    
}

.clock .number{

    --rotation:0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
    font-size: 1.5rem;
}

.clock .number > div {
  transform: rotate(calc(23 * var(--rotation)));
}

.clock .number1{--rotation: 30deg;}
.clock .number2{--rotation: 60deg;}
.clock .number3{--rotation: 90deg;}
.clock .number4{--rotation: 120deg;}
.clock .number5{--rotation: 150deg;}
.clock .number6{--rotation: 180deg;}
.clock .number7{--rotation: 210deg;}
.clock .number8{--rotation: 240deg;}
.clock .number9{--rotation: 270deg;}
.clock .number10{--rotation: 300deg;}
.clock .number11{--rotation: 330deg;}
.clock .number12{--rotation: 360deg;}


.clock .hand{

    --rotation:0;
    width: 10px;
    background-color: black;
    position: absolute;
    height: 42%;
    bottom: 50%;
    left: 50%;
    border: 1px solid white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform-origin: bottom;
    z-index: 10;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg)) ;
     /* transition: transform 0.5s ease-in-out; */
}

.clock .hand.second{

    width: 3px;
    height: 45%;
    background-color: rgb(47, 153, 158);
}

.clock .hand.minute{

    width: 7px;
    height: 40%;
    background-color: rgb(7, 81, 98);
}

.clock .hand.hour{

    width: 10px;
    height: 35%;
    background-color: black;
}

.clock::after{

    content: '';
    width: 15px;
    height: 15px;
    background-color: rgb(83, 82, 82);
    position: absolute;
    left: 50%;
   top: 50%;
   z-index: 11;
   transform: translate(-50%,-50%);
   border-radius: 50%;

}

.minute::after{

   content: '';
  position: absolute;
  top: -12px; 
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 12px solid rgb(1, 7, 12); 

}


.hour::after{

    content: '';
  position: absolute;
  top: -10px; 
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 10px solid black;
}